.brandArea {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 3rem;
}
.header {
  width: 100vw;
  background-color: #000; /* Pure black */
  color: white;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Arial", sans-serif;
  z-index: 999;
  position: relative;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
}

.orderType {
  display: flex;
  gap: 1rem;
}
.orderType button {
  display: flex;
  align-items: self-end;
  justify-content: center;
  gap: 0.2rem;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  padding: 0.4rem 0.75rem;
  border-radius: 0.51rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.orderType button:hover {
  background-color: #d90000;
  border-color: #d90000;
}
.orderType button:nth-child(2) {
  color: #ff4949;
  border-color: white;
}
.orderType button:nth-child(2):hover {
  color: white;
  border-color: white;
}

.userArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

 .profileIcon{
    width: 36px;
    height: 36px;
  }


@media screen and (max-width: 920px) {
  .orderType button {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .logo {
    font-size: 1.75rem;
  }
  .profileIcon{
    width: 36px;
    height: 36px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    /* justify-content: flex-start; */
    align-items: start;
  }
  .logo {
    font-size: 1.25rem;
    align-items: center;
  }
  .brandArea {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
  }
  .orderType button {
    padding: 0.2rem 0.37rem;
    font-size: 1rem;
    flex-direction: row;
  }
  .userArea {
    /* background: #ff6d6d; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }
  .ottag {
    display: none;
  }
  .profileIcon{
    width: 28px;
    height: 28px;
  }
}
